<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Data</key>
		<array>
			<dict>
				<key>Data</key>
				<data>
				RW1wdHkgQ2xpcGJvYXJkIFRleHQ=
				</data>
				<key>Key</key>
				<string>public.utf8-plain-text</string>
			</dict>
		</array>
		<key>Date</key>
		<date>2018-05-20T13:49:15Z</date>
		<key>Name</key>
		<string>Unnamed Named Clipboard</string>
		<key>Source</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>UID</key>
		<string>24DF4509-A475-494B-980C-311260432BBF</string>
	</dict>
	<dict>
		<key>Data</key>
		<array>
			<dict>
				<key>Data</key>
				<data>
				RW1wdHkgQ2xpcGJvYXJkIFRleHQ=
				</data>
				<key>Key</key>
				<string>public.utf8-plain-text</string>
			</dict>
		</array>
		<key>Date</key>
		<date>2018-06-05T23:00:27Z</date>
		<key>Name</key>
		<string>Temporary</string>
		<key>Source</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>UID</key>
		<string>020A05C3-3FBB-4372-A0AA-A0A563D8C0C7</string>
	</dict>
	<dict>
		<key>Data</key>
		<array>
			<dict>
				<key>Data</key>
				<data>
				RW1wdHkgQ2xpcGJvYXJkIFRleHQ=
				</data>
				<key>Key</key>
				<string>public.utf8-plain-text</string>
			</dict>
		</array>
		<key>Date</key>
		<date>2018-06-05T23:00:27Z</date>
		<key>Name</key>
		<string>Clipboard 4</string>
		<key>Source</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>UID</key>
		<string>23E099F0-2033-462E-969E-90EEFAD91588</string>
	</dict>
	<dict>
		<key>Data</key>
		<array>
			<dict>
				<key>Data</key>
				<data>
				RW1wdHkgQ2xpcGJvYXJkIFRleHQ=
				</data>
				<key>Key</key>
				<string>public.utf8-plain-text</string>
			</dict>
		</array>
		<key>Date</key>
		<date>2018-06-05T23:00:27Z</date>
		<key>Name</key>
		<string>TeX Clipboard</string>
		<key>Source</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>UID</key>
		<string>01CFD9DC-8530-42CB-B634-DDAC4D837AF8</string>
	</dict>
</array>
</plist>
